/*---------------
----- BOTÕES ----
---------------*/
@mixin btn($bg-color, $txt-color) {
    padding: 6px 18px;
    background: $bg-color;
    border-radius: 35px;
    font-family: $font-tertiary;
    font-weight: 700;
    color: $txt-color;
    text-transform: uppercase;
    transition: 0.2s;
}

@mixin outline-btn($bd-px, $bd-color, $txt-color) {
    padding: 6px 20px;
    border-width: $bd-px;
    border-style: solid;
    border-color: $bd-color;
    border-radius: 35px;
    font-family: $font-tertiary;
    font-weight: 700;
    color: $txt-color;
    text-transform: uppercase;
    transition: 0.2s;
}

.btn-blue {
    @include btn($color-secundary, $color-default);

    &:hover {
        background: $color-secundary-dark;
        color: $color-default-dark;
    }
}

.btn-blue-dark {
    @include btn($color-primary, $color-default);

    &:hover {
        background: $color-secundary-dark;
        color: $color-default-dark;
    }
}

.btn-outline-secundary {
    @include outline-btn(1px, $color-secundary, $color-primary);

    &:hover {
        background: $color-secundary-dark;
        border-color: $color-secundary-dark;
        color: $color-default-dark;
    }
}

.btn-outline-blue {
    @include outline-btn(1px, $color-secundary, $color-default);

    &:hover {
        background: $color-secundary-dark;
        border-color: $color-secundary-dark;
        color: $color-default-dark;
    }

    @media (min-width: $bp-lg) {
        font-size: 11px;
        color: $color-primary;
        border-color: $color-primary;
    }
}

.btn-outline-blue-dark {
    @include outline-btn(2px, $color-primary, $color-primary);

    &:hover {
        background: $color-primary;
        border-color: $color-primary;
        color: $color-default;
    }
}

.btn-normal {
    padding: 5px 35px;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
}
