/*--------------
---- FONTES ----
--------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:300,400,600,700|Source+Sans+Pro:300,400,600,700&display=swap');

/* Oswald
@font-face {
    font-family: 'Oswald';
    src: local(Oswald), url("../fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: 'Oswald';
    font-weight: 300;
    src: local(Oswald), url("../fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: local(Oswald), url("../fonts/Oswald-SemiBold.ttf");
}

@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    src: local(Oswald), url("../fonts/Oswald-Bold.ttf");
}

// Open Sans
@font-face {
    font-family: 'Open Sans';
    src: local(Open Sans), url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: local(Open Sans), url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: local(Open Sans), url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: local(Open Sans), url("../fonts/OpenSans-Bold.ttf");
}

// Source Pro
@font-face {
    font-family: 'Source Sans Pro';
    src: local(Source Sans Pro), url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    src: local(Source Sans Pro), url("../fonts/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    src: local(Source Sans Pro), url("../fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
    font-family: 'Source Pro';
    font-weight: 700;
    src: local(Source Sans Pro), url("../fonts/SourceSansPro-Bold.ttf");
}*/
