/*--------------
---- FOOTER ----
--------------*/
.footer {
    padding-top: 2rem;
    border-top: 1px solid darken($color-default, 12%);

    &-title {
        font-weight: 600;
        font-size: 30px;
        color: $color-primary;
        text-align: center;

        @media(min-width: $bp-md) {
            text-align: left;
        }

        @media (min-width: $bp-lg) {
            font-size: 16px;
        }
    }

    &-social {

        &-container {
            margin: 20px auto 35px auto;

            @media (min-width: $bp-lg) {
                margin-top: 25%;
            }
        }

        &-link {
            font-size: 24px;
            color: $color-primary;

            &:hover {
                color: $color-secundary;

                @media (min-width: $bp-md) and (max-width: $bp-lg) {
                    border-color: $color-secundary;
                }
            }

            @media (min-width: $bp-md) and (max-width: $bp-lg) {
                padding: 5px 15px;
                border: 1px solid darken($color-default, 12%);
            }
        }

        @media (min-width: $bp-lg) {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
        }
    }

    &-copy {
        padding: 2rem 0 1rem 0;
        font-size: 16px;
        text-align: center;

        &-link {
            font-weight: 700;
            color: $color-primary;

            &:hover {
                color: $color-secundary;
            }
        }

        &-container {
            margin-top: 2rem;
            border-top: 1px solid darken($color-default, 12%);

            @media (min-width: $bp-lg) {
                margin-top: initial;
                border-top: none;
            }
        }

        @media (min-width: $bp-lg) {
            padding: initial;
            font-size: 10px;
        }
    }

    &-btn {
        align-items: flex-end;
        flex-direction: row;
        flex-wrap: wrap;

        &-item {
            padding-left: 7.5px;
            padding-right: 7.5px;
            align-items: center;
            color: $color-primary;

            &:hover {
                color: $color-secundary;

                .footer-btn-icon-phone {
                    border-color: $color-secundary;
                }
            }

            &-primary {
                background: $color-secundary;
                color: $color-default;
                border-radius: 35px;

                &:hover {
                    background: $color-secundary-dark;
                    color: $color-default-dark;

                    .footer-btn-icon-phone {
                        border-color: $color-default-dark;
                    }
                }
            }
        }

        &-icon {
            font-size: 30px;

            &-container {
                height: auto;
            }

            &-phone {
                padding: 5px;
                border: 2px solid $color-primary;
                border-radius: 100%;

                &-primary {
                    border-color: $color-default;
                }
            }
        }

        &-text {
            font-family: $font-secundary;
            font-size: 24px;
            line-height: 20px;
            text-transform: uppercase;

            &-small {
                font-family: $font-default;
                font-size: 12px;
            }
        }
    }
}

.acesso {
    &-lista {
        margin: 30px auto;
        padding-left: 0;
        color: $color-primary;

        &-row {
            padding: 0 0 0 40px;
        }

        &-container {
            padding: 0;
        }
    }

    &-item {
        margin-bottom: 30px;

        @media (min-width: $bp-lg) {
            margin-bottom: 10px;
        }
    }

    &-link {
        font-size: 18px;
        color: $color-default-dark;

        &:hover {
            color: $color-secundary;
        }

        @media (min-width: $bp-lg) {
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}
