/*-------------
---- GERAL ----
-------------*/
body {
    font-family: $font-default;
}

a {
    transition: 0.2s;

    &:hover {
        text-decoration: none;
    }
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: $color-primary;
    text-transform: uppercase;
}

.subtitle {
    font-size: 30px;
    font-weight: 300;
    color: $color-default-dark;
}

.section {
    &-title {
        text-align: center;

        &-secundary {
            .title,
            .subtitle {
                color: $color-default;
            }
        }
    }
}

.icon {
    &-phone {
        padding: 5px;
        font-size: 30px;
        border: 2px solid;
        border-radius: 100%;

        &-blue {
            color: $color-primary;
            border-color: $color-primary;
        }

        &-white {
            color: $color-default;
            border-color: $color-default;
        }
    }
}
