/*------------
--- SLIDER ---
------------*/
.slider {
    .carousel-item {
        height: 350px;

        @media (min-width: $bp-xs*2) {
            height: 500px;
        }
    }

    .carousel-control {
        &-prev,
        &-next {
            display: none;

            @media (min-width: $bp-lg) {
                display: flex;
            }
        }
    }

    .carousel-indicators {
        left: -50%;
        bottom: -15px;

        li {
            margin: 10px;
            width: 5px;
            height: 5px;
            background-color: initial;
            border: 3px solid $color-secundary;
            border-radius: 100%;
            opacity: 1;
        }

        .active {
            background: $color-primary;
            border-color: $color-primary;
        }

        @media (min-width: $bp-sm) {
           left: -70%;
        }

        @media(min-width: $bp-lg) {
            display: none;
        }
    }

    &-content {
        right: 10%;
        left: 10%;
        text-align: left;

        &-title {
            font-size: 60px;
            font-weight: 800;
            color: $color-primary;

            @media (min-width: $bp-lg) {
                margin-bottom: 0;
                font-size: 80px;
            }
        }

        &-subtitle {
            font-size: 24px;
            color: $color-default-dark;

            @media (min-width: $bp-lg) {
                margin-top: -10px;
                font-size: 32px;
            }
        }

        &-text {
            font-weight: 300;
            color: $color-default-dark;
        }

        &-btn {
            margin: 2px auto;

            @media (min-width: $bp-md) {
                margin: 15px auto;
            }

            @media (min-width: $bp-lg) {
                padding: 8px 80px;
                font-size: 16px;
            }
        }

        @media (min-width: $bp-lg) {
            left: 15%;
            right: 15%;
        }

        @media (min-width: $bp-xl*2) {
            max-width: 1140px;
            left: 28%;
            bottom: 15%;
        }
    }

    &-control {
        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            background: $color-primary;
            border-radius: 100%;
        }
    }
}

#slide {
    &-1 {
        background: url(../images/banner01.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    &-2 {
        background: url(../images/banner01.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    &-3 {
        background: url(../images/banner01.png) no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/*-----------------
--- DEPOIMENTOS ---
-----------------*/
.depoimentos {
    &-carousel {
        margin: 35px auto;

        &-item {
            flex-wrap: wrap;
            align-items: center;
        }

        &-img {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;

            @media (min-width: $bp-lg) {
                max-height: 80px;
                width: 100%;
            }
        }

        &-text {
            text-align: center;

            &-msg {
                font-size: 24px;
                font-weight: 300;
                font-style: italic;

                @media (min-width: $bp-lg) {
                    font-size: 16px;
                }
            }

            &-autor {
                font-size: 16px;
                font-weight: 700;
                color: $color-primary;
                text-transform: uppercase;

                @media (min-width: $bp-lg) {
                    font-size: 12px;
                }
            }

            @media (min-width: $bp-lg) {
                text-align: left;
            }
        }

        .slick-prev,
        .slick-next {
            display: flex;
            align-items: center;
            justify-content: center;
            top: inherit;
            bottom: -20%;
            padding: 10px;
            width: 40px;
            height: 40px;
            font-size: 18px;
            line-height: initial;
            background: $color-primary;
            color: $color-default;
            border-radius: 100%;
            transition: 0.2s;

            &::before {
                content: none;
            }

            &:hover {
                background: $color-secundary;
            }

            @media (min-width: $bp-md) {
                bottom: -30%;
            }

            @media (min-width: $bp-lg) {
                bottom: -55%;
            }
        }

        .slick-prev {
            left: 35%;

            @media (min-width: $bp-md) {
                left: 42%;
            }

            @media (min-width: $bp-lg) {
                left: 45%;
            }
        }

        .slick-next {
            right: 35%;

            @media (min-width: $bp-md) {
                right: 42%;
            }

            @media (min-width: $bp-lg) {
                right: 45%;
            }
        }
    }
}

/*--------------
--- NOTÍCIAS ---
--------------*/
.noticias {
    background: $color-primary;

    &-container {
        @media (min-width: $bp-lg) {
            position: relative;
            bottom: -30px;
        }
    }

    &-item {
        display: flex;
        align-items: flex-end;
        height: 250px;

        &:hover {
            .noticias-title {
                color: $color-secundary;
            }
        }
    }

    &-title {
        padding: 0 0 20px 10px;
        font-weight: 600;
        font-size: 30px;
        color: $color-default;
        text-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
    }

    @media (min-width: $bp-lg) {
        background: linear-gradient(rgba(61, 64, 147,0.2)), url(../images/noticias-background.png) no-repeat center;
        background-size: auto 110%;
        background-clip: border-box;
    }

    @media (min-width: $bp-xl) {
        background-size: auto 150%;
    }
}

#noticia {
    &-1 {
        background: url(../images/noticia01.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia01.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia01.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia01.png) no-repeat center;
        background-size: cover;
    }

    &-2 {
        background: url(../images/noticia02.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia02.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia02.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia02.png) no-repeat center;
        background-size: cover;
    }

    &-3 {
        background: url(../images/noticia03.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia03.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia03.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia03.png) no-repeat center;
        background-size: cover;
    }

    &-4 {
        background: url(../images/noticia04.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia04.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia04.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia04.png) no-repeat center;
        background-size: cover;
    }

    &-5 {
        background: url(../images/noticia05.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia05.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia05.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.4)), url(../images/noticia05.png) no-repeat center;
        background-size: cover;
    }
}

/*--------------
--- SERVIÇOS ---
--------------*/
.servicos {
    &-item {
        margin: 5px 10px;
        height: 350px;

        @media (min-width: $bp-md) {
            margin: 15px auto;
        }
    }

    &-img {
        width: 100%;
        border-radius: 15px;
        transition: 0.2s;
    }

    &-info {
        padding: 50px 20px 30px 20px;

        @media (min-width: $bp-lg) {
            padding: 20px 0;
        }
    }

    &-link {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        color: $color-default;
        border-radius: 15px;
        transition: 0.2s;

        &:hover {
            color: $color-secundary;

            .servicos-img {
                filter: opacity(0.5);
            }

            .btn-outline-blue {
                background: $color-secundary-dark;
                border-color: $color-secundary-dark;
                color: $color-default-dark;
            }
        }

        @media (min-width: $bp-lg) {
            display: block;
            color: $color-primary;
        }
    }

    &-title {
        font-weight: 600;
        font-size: 20px;

        @media (min-width: $bp-lg) {
            font-size: 18px;
        }
    }

    &-desc {
        margin: 20px auto;
        font-weight: 300;
        font-size: 20px;

        @media (min-width: $bp-lg) {
            font-size: 14px;
        }
    }
}

#servico {
    &-1 {
        background: url(../images/funeral.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.6)), url(../images/funeral.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.6)), url(../images/funeral.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.6)), url(../images/funeral.png) no-repeat center;
        background-size: cover;

        @media (min-width: $bp-lg) {
            background: none;
        }
    }

    &-2 {
        background: url(../images/translado-terrestre.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.6)), url(../images/translado-terrestre.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.6)), url(../images/translado-terrestre.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.6)), url(../images/translado-terrestre.png) no-repeat center;
        background-size: cover;

        @media (min-width: $bp-lg) {
            background: none;
        }
    }

    &-3 {
        background: url(../images/translado-terrestre.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.6)), url(../images/translado-terrestre.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.6)), url(../images/translado-terrestre.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.6)), url(../images/translado-aereo.png) no-repeat center;
        background-size: cover;

        @media (min-width: $bp-lg) {
            background: none;
        }
    }

    &-4 {
        background: url(../images/embalsamento.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.6)), url(../images/embalsamento.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.6)), url(../images/embalsamento.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.6)), url(../images/embalsamento.png) no-repeat center;
        background-size: cover;

        @media (min-width: $bp-lg) {
            background: none;
        }
    }
}

/*--------------
--- UNIDADES ---
--------------*/
.unidades {
    margin: 3rem auto;

    &-item {
        margin: 5px auto;
        height: 200px;

        @media (min-width: $bp-md) {
            margin: 15px auto;
        }
    }

    &-link {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        color: $color-default;
        border-radius: 15px;

        &:hover {
            color: $color-secundary;
        }
    }

    &-title {
        padding: 0 0 30px 20px;
        font-size: 24px;

        @media (min-width: $bp-lg) {
            font-size: 18px;
        }
    }

    &-icon {
        margin-right: 10px;
    }

    @media (min-width:$bp-lg) {
        margin: 5rem auto 0 auto;
        padding-bottom: 5rem;
        border-top: 1px solid darken($color-default, 12%);
    }
}

#unidade {
    &-1 {
        background: url(../images/osan-santos.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-santos.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-santos.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-santos.png) no-repeat center;
        background-size: cover;
    }

    &-2 {
        background: url(../images/osan-sao_vicente.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-sao_vicente.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-sao_vicente.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-sao_vicente.png) no-repeat center;
        background-size: cover;
    }

    &-3 {
        background: url(../images/osan-cubatao.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-cubatao.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-cubatao.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-cubatao.png) no-repeat center;
        background-size: cover;
    }

    &-4 {
        background: url(../images/osan-praia_grande.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-praia_grande.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-praia_grande.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-praia_grande.png) no-repeat center;
        background-size: cover;
    }

    &-5 {
        background: url(../images/osan-guaruja.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-guaruja.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-guaruja.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-guaruja.png) no-repeat center;
        background-size: cover;
    }

    &-6 {
        background: url(../images/osan-itanhaem.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-itanhaem.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-itanhaem.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-itanhaem.png) no-repeat center;
        background-size: cover;
    }

    &-7 {
        background: url(../images/osan-mongagua.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-mongagua.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-mongagua.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-mongagua.png) no-repeat center;
        background-size: cover;
    }

    &-8 {
        background: url(../images/osan-bertioga.png) no-repeat center;
        background: -moz-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-bertioga.png) no-repeat center;
        background: -webkit-linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-bertioga.png) no-repeat center;
        background: linear-gradient(rgba(0,0,0,0.2)), url(../images/osan-bertioga.png) no-repeat center;
        background-size: cover;
    }
}
