/*------------
---- MENU ----
------------*/
.logo {
    &-img {
        height: 80px;
    }

    &-mobile {
        &-img {
            height: 50px;

            @media (min-width: $bp-md) and (max-width: $bp-lg) {
                height: 75px;
            }
        }
    }
}

.menu {
    justify-content: space-between;
    width: 100%;

    &-container {
        padding: 5px 0;
    }

    &-row {
        -webkit-box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);
        -moz-box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);
        box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);
    }

    &-link {
        font-family: $font-tertiary;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-primary-dark;
        transition: 0.2s;

        &:hover {
            color: $color-secundary;
        }
    }

    &-client {
        display: flex;
        align-items: center;
        color: $color-primary-dark;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;

        &:hover {
            color: $color-secundary;
        }
    }
}

.menu-mobile {
    width: 100%;
    background: $color-primary;

    &-container {
        width: 100%;
    }

    &-link {
        margin: 5px auto;
        font-family: $font-tertiary;
        font-size: 18px;
        color: $color-default;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            color: $color-default-dark;
        }
    }

    &-btn,
    &-client {
        display: flex;
        align-items: center;
        font-size: 11px;
        color: $color-default-dark;

        &-hover {
            color: $color-primary;
        }

        @media (min-width: $bp-md) and (max-width: $bp-lg) {
            font-size: 14px;
        }
    }

    &-icon {
        width: 30px;

        @media (min-width: $bp-md) and (max-width: $bp-lg) {
            width: 40px;
        }
    }
}

.dropdown {
    &-toggle {
        &:focus {
            background: $color-primary;
            color: $color-default;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &::after {
            display: none;
        }

        &-mobile {
            &::after {
                display: inline-block;
            }
        }
    }

    &-menu {
        margin-top: 0;
        padding: 18px 0;
        background: $color-primary;
        border: 0;
        border-radius: 8px;
        border-top-left-radius: 0;

        &-mobile {
            background: $color-primary-dark;
        }

        &:hover {
            .dropdown-toggle {
                background: $color-primary;
            color: $color-default;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            }
        }
    }

    &-link {
        font-family: $font-tertiary;
        font-size: 11px;
        color: $color-default;
        text-transform: uppercase;
        transition: 0.2;

        &-mobile {
            margin: 7.5px auto;
            font-size: 16px;
            text-align: center;

            &:hover {
                color: $color-primary-dark;
            }
        }

        &:hover {
            background: $color-default;
            color: $color-primary;
        }
    }
}

.info {
    &-container {
        padding-left: 7.5px;
        padding-right: 7.5px;
        align-items: center;
        color: $color-default !important;

        &:hover {
            color: darken($color-default, 15%) !important;
        }

        @media (min-width: $bp-lg) {
            height: 40%;
            border-radius: 35px;
        }
    }

    &-tel {
        background: $color-primary;

        &:hover {
            background: $color-primary-dark;
        }
    }

    &-whats {
        background: $color-secundary;

        &:hover {
            background: $color-secundary-dark;
        }
    }

    &-icon {
        font-size: 20px;

        &-container {
            height: auto;
        }

        &-phone {
            padding: 4px;
            border: 1px solid $color-default;
            border-radius: 100%;

            @media (min-width: $bp-lg) {
                padding: 5px;
                border: 2px solid $color-default;
            }
        }

        @media (min-width: $bp-lg) {
            font-size: 30px;
        }
    }

    &-text {
        font-family: $font-secundary;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;

        &-small {
            font-family: $font-default;
            font-size: 12px;
        }

        @media (min-width: $bp-lg) {
            font-size: 24px;
            line-height: 20px;
            text-align: left;
        }
    }

    &-social {
        padding: 0;
        text-align: center;
        border-bottom: 1px solid lighten($color-primary, 50%);

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: $color-primary;
            border-right: 1px solid lighten($color-primary, 50%);

            &:last-child {
                border-right: 0;

                @media (min-width: $bp-lg) {
                    border-right: 1px solid lighten($color-primary, 50%);
                    border-left: 0;
                }
            }

            &:hover {
                color: $color-secundary;
            }

            @media (max-width: $bp-sm) {
                padding: 10px 0;
            }

            @media (min-width: $bp-md) and (max-width: $bp-lg) {
                font-size: 18px;
            }

            @media (min-width: $bp-lg) {
                border-right: 1px solid lighten($color-primary, 50%);
                border-left: 1px solid lighten($color-primary, 50%);
            }
        }

        @media (min-width: $bp-lg) {
            border-bottom: 0;
        }
    }
}
