/*------------
---- PAGE ----
------------*/
.page {
    &-nav {
        &-text {
            font-size: 14px;
            color: $color-primary;
            text-align: center;

            @media (min-width: $bp-md) {
                font-size: 11px;
                text-align: left;
            }
        }

        &-link {
            padding: 0 5px;
            color: $color-primary;
            transition: 0.2s;

            &-active,
            &:hover {
                color: $color-secundary;
            }
        }
    }

    &-destaque {
        &-container {
            background: $color-primary;
            color: $color-default;

            @media (min-width: $bp-md) {
                border-bottom-left-radius: 20%;
                border-bottom-right-radius: 20%;
                overflow: hidden;
            }

            &-secundary {
                background: $color-secundary;
            }
        }

        &-title {
            margin-bottom: 0;
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;

            &-subline {
                display: block;
                margin-top: -6px;
            }

            @media (min-width: $bp-lg) {
                font-size: 50px;
            }

            &-container {
                margin: 25px auto;
                text-align: center;

                @media (min-width: $bp-md) {
                    padding-left: 10%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: center;
                    text-align: left;
                }
            }
        }

        &-subtitle {
            font-size: 18px;
            font-weight: 300;

            @media (min-width: $bp-lg) {
                font-size: 24px;
            }
        }

        &-img {

            &-container {
                padding: 0;
            }
        }
    }

    &-content {
        &-section {
            margin: 2rem auto;
        }

        &-title {
            margin: 0.5rem auto;
            font-size: 20px;
            font-weight: 600;
            color: $color-primary;

            &-icon {
                margin-right: 5px;
            }

            @media (min-width: $bp-md) {
                font-size: 24px;
            }
        }

        &-text {
            margin: 1rem auto;
            font-size: 14px;
            font-weight: 300;

            strong {
                font-weight: 700;
            }

            &-special {
                color: $color-primary;
            }

            &-link {
                color: $color-primary;
                text-decoration: underline;

                &:hover {
                    color: $color-secundary;
                }
            }
        }

        &-list {
            margin: 1rem auto;
            padding-left: 35px;
            list-style-image: url(../images/icones/check.png);

            &-item {
                margin-bottom: 7.5px;
                padding-left: 7.5px;
                font-size: 14px;
                font-weight: 300;
            }

            strong {
                font-weight: 700;
            }
        }

        &-btn {
            margin: 0.5rem auto;
            padding: 10px 35px;
            width: 100%;

            &:last-child {
                @media (min-width: $bp-md) {
                    margin-left: 1.5rem;
                }
            }

            @media (min-width: $bp-md) {
                width: auto;
            }
        }
    }

    &-wrapper {
        background: $color-default;
        -webkit-box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);
        -moz-box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);
        box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);

        &-title {
            font-size: 24px;
            font-weight: 600;
            color: $color-primary;

            @media (min-width: $bp-lg) {
                font-size: 30px;
            }
        }

        &-subtitle {
            font-size: 18px;
            font-weight: 300;
            color: $color-primary;

            @media (min-width: $bp-lg) {
                font-size: 24px;
            }
        }

        &-text {
            font-size: 14px;

            @media (min-width: $bp-lg) {
                font-size: 18px;
            }
        }

        @media (min-width: $bp-lg) {
            width: 98%;
        }
    }

    &-input {
        margin-top: 1.5rem;
        padding: 8px 3px 8px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $color-default;
        border: 2px solid $color-primary;
        border-radius: 25px;

        &-label {
            margin: 0 10px 0 0;
            font-size: 12px;
            font-weight: 600;
            color: $color-primary-dark;
            text-transform: uppercase;

            @media (min-width: $bp-md) {
                margin-right: 20px;
            }
        }

        &-select {
            appearance: none;
            margin-right: 10px;
            padding-left: 5px;
            padding-right: 25px;
            font-size: 14px;
            font-weight: 700;
            color: $color-primary;
            text-transform: uppercase;
            border: none;

            option {
                font-size: 12px;
                font-weight: 700;
                color: $color-primary;
                text-transform: uppercase;
            }

            &::-ms-expand {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }

        &-search {
            padding: 0;
            height: auto;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: $color-primary;
            border: none;

            &:focus {
                border: 0;
                box-shadow: none;
            }

            &-btn {
                padding: 0 15px;
                border: 0;
                color: $color-secundary;

                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
        }

        @media (min-width: $bp-md) {
            margin-top: 0;
            padding-left: 25px;
        }
    }

    &-select {
        position: relative;

        svg {
            position: absolute;
            top: 2.5px;
            right: 5px;
            padding: 2px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-primary;
            border-radius: 100%;
            font-size: 30px;
            color: $color-default;
            pointer-events: none;
        }

        &:before {
            display: none;
            content: '\f078';
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-weight: 900;
            text-decoration: inherit;
        }
    }
}

#page {
    &-client {
        @media (min-width: $bp-md) {
            background: url(../images/fundo-cliente.png) no-repeat;
            background-position: right top;
            background-size: 50% auto;
        }
    }

    &-servicos {
        @media (min-width: $bp-md) {
            background: url(../images/fundo-noticia.png) no-repeat;
            background-position: right top;
            background-size: 50% auto;
        }
    }

    &-faq {
        @media (min-width: $bp-md) {
            background: url(../images/fundo-faq.png) no-repeat;
            background-position: right top;
            background-size: 50% auto;
        }
    }

    &-parceiros {
        @media (min-width: $bp-md) {
            background: url(../images/fundo-faq.png) no-repeat;
            background-position: right top;
            background-size: 50% auto;
        }
    }

    &-depoimentos {
        @media (min-width: $bp-md) {
            background: url(../images/fundo-depoimento.png) no-repeat;
            background-position: right top;
            background-size: 50% auto;
        }
    }

    &-noticias {
        @media (min-width: $bp-md) {
            background: url(../images/fundo-noticia.png) no-repeat;
            background-position: right top;
            background-size: 50% auto;
        }
    }

    &-unidades {
        @media (min-width: $bp-md) {
            background: url(../images/fundo-unidades.png) no-repeat;
            background-position: right top;
            background-size: 50% auto;
        }
    }

    &-contato {
        @media (min-width: $bp-md) {
            background: url(../images/fundo-contato.png) no-repeat;
            background-position: right top;
            background-size: 50% auto;
        }
    }
}

/*---------------
--- CONTRATOS ---
---------------*/
.contratos {
    &-row {
        padding: 30px 0;

        &:first-child {
            border-bottom: 1px solid $color-secundary-light;
        }
    }

    &-item {
        margin-bottom: 25px;
        font-size: 14px;
        font-weight: 300;
        color: $color-default-dark;
        text-align: center;
        transition: 0.2s;

        img {
            margin-bottom: 20px;
        }

        &:hover {
            color: $color-secundary;

            img {
                filter: opacity(0.5);
            }
        }

        @media (min-width: $bp-lg) {
            margin: 0 auto;
        }
    }

    span {
        font-weight: 700;
    }
}

/*--------------
--- SERVIÇOS ---
--------------*/
.servicos {
    &-page {
       .servicos-title {
           @media (min-width: $bp-lg) {
               font-size: 16px;
           }
       }
    }

    &-integra {
        &-destaque {
            display: none;
            width: 100%;

            @media (min-width: $bp-md) {
                display: block;
            }
        }

        &-title {
            margin-bottom: 0;
            font-size: 22px;
            font-weight: 600;
            color: $color-primary;

            &-container {
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width: $bp-md) {
                    margin: 1rem auto 2.5rem auto;
                    justify-content: flex-start;
                }
            }

            &-icon {
                margin-right: 20px;
                font-size: 36px;
                color: $color-primary;

                @media (min-width: $bp-lg) {
                    margin-right: 30px;
                    font-size: 48px;
                }
            }

            &-special {
                position: relative;

                &::after {
                    @media (min-width: $bp-md) {
                        content: '';
                        position: absolute;
                        right: 0;
                        height: 15px;
                        width: 55%;
                        border-bottom: 1px solid darken($color-secundary-light, 5%);
                    }

                    @media (min-width: $bp-lg) {
                        width: 70%;
                    }
                }
            }
        }

        &-text {
            font-size: 16px;
            font-weight: 300;
        }

        &-btn {
            margin-top: 1.5rem;
            width: 100%;
            border-radius: 5px;
            text-transform: none;

            @media (min-width: $bp-lg) {
                margin-top: 2rem;
            }

            @media (min-width: $bp-xl) {
                margin-top: 4rem;
            }
        }

        &-item {
            margin-bottom: 1.5rem;

            &-container {
                margin: 1rem auto;
            }

            &-title {
                font-size: 18px;
                font-weight: 700;
                color: $color-primary;
            }

            &-desc {
                font-size: 14px;
            }
        }
    }
}

/*---------------
------ FAQ ------
---------------*/
.accordion {
    background: $color-default;

    .card {
        margin-bottom: 5px;
        -webkit-box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);
        -moz-box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);
        box-shadow: 0px 5px 25px 0px rgba(0,65,93,0.1);
        border: none;

        &-header {
            padding: 10px 8px;
            background: $color-default;
            border: none;

            @media (min-width: $bp-lg) {
                padding: 12px 20px;
            }
        }

        &-body {
            font-size: 14px;
            font-weight: 300;
            color: $color-primary-dark;

            @media (min-width: $bp-lg) {
                padding: 0 5rem 3rem 5rem;
            }
        }
    }

    &-title {
        padding-right: 15px;
        display: flex;
        align-items: center;

        &-btn {
            padding: 5px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: $color-primary-dark;

            &:hover {
                color: $color-primary;
                text-decoration: none;

                .accordion-title-number {
                    background: $color-primary;
                    border-color: $color-primary;
                    color: $color-default;
                }

                .accordion-title-icon {
                    color: $color-primary;
                }
            }

            &:focus {
                text-decoration: none;
            }

            &[aria-expanded="true"] {
                .accordion-title-icon-first {
                    display: none;
                }

                .accordion-title-icon-second {
                    display: block;
                }
            }

            .accordion-title-icon-second {
                display: none;
            }

            @media (min-width: $bp-lg) {
                padding: 6px 12px;
                font-size: 18px;
            }
        }

        &-number {
            margin-right: 10px;
            padding: 2px 5px;
            height: max-content;
            border: 2px solid $color-secundary;
            border-radius: 100%;
        }

        &-icon {
            font-size: 24px;
            color: $color-secundary;
        }
    }
}

/*---------------
--- PARCEIROS ---
---------------*/
.parceiros {
    .row {
        @media (min-width: $bp-md) {
            border-bottom: 1px solid $color-secundary-light;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &-item {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &:hover {
            img {
                opacity: 0.5;
            }
            .parceiros-title {
                display: none;
            }
            .parceiros-link {
                display: block;
            }
        }

        img {
            height: 120px;
            width: auto;
            max-width: 100%;
        }

        @media (min-width: $bp-md) {
            border-bottom: 0;
            border-right: 1px solid $color-secundary-light;

            &:last-child {
                border-right: 0;
            }
        }
    }

    &-content {
        margin: 10px auto;
        text-align: center;
    }

    &-title {
        padding: 5px 12px;
        font-size: 16px;
        font-weight: 600;
        color: $color-primary-dark;
        transition: 0.2s;
    }

    &-link {
        display: none;
        padding: 5px 12px;
        font-size: 12px;
        font-weight: 600;
        color: $color-primary-dark;
        text-transform: uppercase;
        border: 1px solid $color-primary-dark;
        border-radius: 25px;
        transition: 0.2s;

        &:hover {
            background: $color-secundary;
            border-color: $color-secundary;
            color: $color-default;
        }
    }

    &-integra {
        .parceiros-item {
            @media (min-width: $bp-md) and (max-width: $bp-lg) {
                border-bottom: 1px solid $color-secundary-light;

                &:nth-child(3),
                &:nth-child(4) {
                    border-bottom: 0;
                }
            }

            @media (max-width: $bp-md) {
                &:nth-child(2) {
                    border-right: 0;
                }
            }
        }

        &-img {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
            }

            @media (min-width: $bp-md) {
                margin-bottom: 0;
                border-right: 2px solid $color-secundary-light;
            }
        }

        &-title {
            margin-bottom: 1.5rem;
            font-weight: 600;
            color: $color-primary;
        }

        &-subtitle {
            font-size: 20px;
            font-weight: 600;
            color: $color-primary;
            transition: 0.2s;
        }

        &-text {
            font-size: 13px;
            font-weight: 300;
            color: $color-primary-dark;
        }
    }
}

/*---------------
-- DEPOIMENTOS --
---------------*/
.depoimento {
    &-container {
        padding: 3rem 2rem 0 2rem;

        @media (min-width: $bp-lg) {
            padding: 5rem 4rem 0 4rem;
        }
    }

    &-item {
        margin-bottom: 3rem;

        &-text {
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
            color: $color-primary-dark;
        }

        &-info {
            display: flex;
            align-items: flex-end;

            &-icon {
                margin-right: 25px;
                height: 50px;
            }

            &-author {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: $color-primary;
            }
        }

        @media (min-width: $bp-lg) {
            margin-bottom: 5rem;
        }
    }
}

/*--------------
--- NOTÍCIAS ---
--------------*/
.noticia {
    &-item {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            width: 100%;
        }

        &:hover {
            img {
                opacity: 0.5;
            }

            .noticia-content {
                color: $color-secundary-dark;
            }

            .noticia-link {
                background: $color-secundary;
                border-color: $color-secundary;
                color: $color-default;
            }
        }

        @media (min-width: $bp-lg) {
            margin-bottom: 80px;
        }
    }

    &-content {
        margin: 10px auto 25px auto;
        font-weight: 300;
        color: $color-primary-dark;
        text-transform: uppercase;

        @media (min-width: $bp-md) {
            margin: 20px auto 40px auto;
        }
    }

    &-date {
        font-size: 11px;
        color: $color-primary-dark;
        text-transform: uppercase;
    }

    &-title {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
    }

    &-link {
        align-self: flex-start;
        font-size: 14px;
        color: $color-primary;
        border: 2px solid $color-primary;

        @media (min-width: $bp-md) {
            font-size: 12px;
        }
    }

    &-integra {
        &-share {
            margin: 30px auto 40px auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 12px;

            &-icon {
                margin-right: 25px;
                font-size: 18px;
                color: #3d4093;

                &:hover {
                    color: $color-secundary;
                }
            }

            &-text {
                color: #3d4093;
                text-transform: uppercase;
            }
        }

        &-text {
            margin-bottom: 3rem;
            font-size: 14px;
            font-weight: 300;
            color: $color-primary-dark;
        }

        &-subtitle {
            font-size: 20px;
            font-weight: 600;
            color: #3d4093;
        }

        &-item {
            margin: 30px auto;

            &:hover {
                .noticia-integra-item-img {
                    opacity: 0.5;
                }

                .noticia-integra-item-category,
                .noticia-integra-item-title {
                    color: $color-secundary-dark;
                }
            }

            &-img {
                margin-bottom: 10px;
                width: 100%;
                height: auto;
            }

            &-category {
                font-size: 12px;
                font-weight: 700;
                color: $color-primary;
                text-transform: uppercase;
            }

            &-title {
                margin-top: 10px;
                font-size: 12px;
                color: $color-primary-dark;
                text-transform: uppercase;
            }
        }
    }
}

/*--------------
--- UNIDADES ---
--------------*/
.unidade {
    &-item {

        img {
            width: 100%;
        }

        &-title {
            font-size: 20px;
            font-weight: 600;
            color: $color-primary;

            &-container {
                margin-bottom: 10px;
                padding: 20px 0;
                border-bottom: 1px solid $color-secundary-light;

                @media (min-width: $bp-md) {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                }
            }

            @media (min-width: $bp-md) {
                font-size: 16px;
            }
        }

        &-icon {
            margin-right: 3px;
            color: $color-secundary;
        }

        &-content {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;

            .page-wrapper-text {
                font-size: 16px;
                font-weight: 300;

                @media (min-width: $bp-md) {
                    font-size: 13px;
                }
            }
        }

        &-phone {
            margin: 5px 0 40px 0;

            a {
                display: flex;
                align-items: center;
                color: $color-primary;

                &:hover {
                    color: $color-secundary;

                    .icon-phone {
                        color: $color-secundary;
                        border-color: $color-secundary;
                    }
                }
            }

            &-special {
                margin-right: 3px;
                font-size: 14px;

                @media (min-width: $bp-md) {
                    font-size: 11px;
                }
            }

            .icon-phone {
                margin-right: 15px;
                padding: 4px;
                font-size: 24px;
            }

            @media (min-width: $bp-lg) {
                margin: 15px 0 0 0;
            }
        }
    }

    &-btn {
        margin-top: 5px;
        padding: 6px 10px;
        width: 100%;

        @media (min-width: $bp-md) {
            margin-top: 0;
            width: auto;
            font-size: 10px;
        }
    }
}

/*-------------
-- PAGINAÇÃO --
-------------*/
.pagination {
    margin: 50px auto;

    .page {
        &-link {
            padding: 18px 12px;
            font-size: 12px;
            font-weight: 700;
            background: none;
            color: $color-primary;
            text-transform: uppercase;
            border: none;
            border-radius: 50px;
            transition: 0.2s;

            &:hover {
                background: $color-primary;
                color: $color-default;
            }

            @media (min-width: $bp-lg) {
                font-size: 10px;
            }
        }
    }

    @media (min-width: $bp-md) {
        margin: 75px auto;
    }
}

/*---------------
---- CONTATO ----
---------------*/
.form {
    margin-top: 3rem;

    &-description {
        font-size: 18px;
        font-weight: 300;
    }

    label {
        font-size: 14px;
        font-weight: 600;
        color: $color-primary-dark;

        @media (min-width: $bp-lg) {
            font-size: 12px;
        }
    }

    input, select, textarea {
        font-size: 12px;
        color: $color-primary;
    }

    &-btn {
        display: block;
        margin: 1.5rem auto;
        padding: 6px 35px;
        font-size: 16px;
        font-weight: 400;

        @media (min-width: $bp-md) {
            margin: 4rem 0;
            padding: 6px 50px;
            font-size: 20px;
        }
    }

    @media (min-width: $bp-md) {
        margin-top: 5rem;
    }
}

.contato {
    .info-tel {
        padding-top: 12px;
        width: 100%;
        height: auto;
        border-bottom: 5px solid $color-secundary;
        border-radius: 5px 5px 0 0;
    }

    .page-wrapper {
        &-title {
            font-size: 24px;
            font-weight: 600;
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 600;
            color: $color-primary-dark;
        }

        &-text {
            font-size: 13px;
            font-weight: 300;
        }
    }
}
