/*---------------
--- VARIÁVEIS ---
---------------*/
// Cores
$color-default: #fff;
$color-default-dark: #3e394b;
$color-primary: #3d4093;
$color-primary-dark: #00415d;
$color-secundary: #90bacf;
$color-secundary-dark: darken(#90bacf, 15%);
$color-secundary-light: #eff3f5;

// Fontes
$font-default: "Open Sans";
$font-secundary: "Oswald";
$font-tertiary: "Source Sans Pro";


// Breakpoints
$bp-xs: 375px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
